<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Simple Login: Profile</title>
    </head>
    <body>
        <h1>Admin Area</h1>
        <p>Welcome, <%= user.username %>.</p>
        <a href="/logout">Log Out</a>
    </body>
</html>
