<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Simple Login: Error</title>
    </head>
    <body>
        <h1>Error</h1>
        <p>Something went wrong. Please <a href="/product-list">Product list</a> or signup <a href="/login">login</a></p>
    </body>
</html>
