<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Simple Login</title>
    </head>
    <body>
        <h1>Simple Login App</h1>
        <p>Welcome to the simple login app.</p>
        <a href="/login">Login</a> |
        <a href="/signup">Sign Up</a> |
        <a href="/product">Product</a> |
        <a href="/template">Template</a> |
        <a href="/cart">Cart</a>
    </body>
</html>
